div(ng-include='"components/navbar/navbar.html"')

.container
  alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)')
    | {{alert.message1}} 
    b {{alert.messageBold}} 
    | {{alert.message2}} 
  form#journeyForm
    .row.form-group
      .col-lg-4
        input.form-control.input-lg(type='text', placeholder='Name that journey!', ng-model='newJourney.name')
    .row.form-group
      .col-lg-8
        input.form-control(type='text', placeholder='Describe the journey', ng-model='newJourney.description')
      //- | Pick a start point
      //- br
      //- | Pick an end point
      //- br
      //- | Add any more points?
      //- br
      //- //- Collapsible part to add more points
      //- | How can you make the journey?
      //- br
      //- Pictures of modes of transport with star ratings next to them
      //- For initially hidden maps, use refresh tag to redraw on accordion opening
    .row
      accordion(close-others='true')
        accordion-group(is-open='startMap.isOpen', is-disabled='false')
          accordion-heading
            p.accordion-header Where does your journey start?
          div(ng-if='startMap.isOpen')
            ui-gmap-google-map(center='startMap.center', zoom='startMap.zoom', events='startMap.events', refresh='startMap.refresh')
              ui-gmap-marker(coords='startMarker', idKey='startMarker.id', options='startMarker.options')
          div(ng-if='!startMap.isOpen', style='height: 400px;')

        accordion-group(is-open='endMap.isOpen', is-disabled='false')
          accordion-heading
            p.accordion-header Where does your journey finish?
          div(ng-if='endMap.isOpen') 
            ui-gmap-google-map(center='endMap.center', zoom='endMap.zoom', events='endMap.events', refresh='endMap.refresh')
              ui-gmap-marker(coords='startMarker', idKey='startMarker.id', options='startMarker.options')
              ui-gmap-marker(coords='endMarker', idKey='endMarker.id', options='endMarker.options')
              ui-gmap-polyline(path='endMap.path', stroke='endMap.pathStroke', clickable='false', draggable='false')
          //- Placeholder - makes accordion open to (almost) the right size
          div(ng-if='!endMap.isOpen', style='height: 400px;')

    .row.form-group(ng-repeat="transportationAndRating in newJourney.transportationAndRatings")
      .transportationMethod.col-lg-2
        ui-select(ng-model='transportationAndRating.method', search-enabled='false', append-to-body='true')
          ui-select-match(placeholder='Select Transport...') 
            i(ng-show='$select.selected.hasFAIcon', ng-class='$select.selected.icon').fa.fa-fw.fa-rightpad
            | {{$select.selected.name}}
          ui-select-choices(repeat='transportationMethod.id as transportationMethod in methods | availableMethodsFilter:newJourney.transportationAndRatings:$select.selected.id')
            i(ng-show='{{transportationMethod.hasFAIcon}}', ng-class='transportationMethod.icon').fa.fa-fw.fa-rightpad
            | {{transportationMethod.name }}
      .transportationRating.col-lg-2
        rating(ng-model='transportationAndRating.rating').input-lg
      div(ng-show='canDeleteTransportationMethod()', style='padding-top: 5px;')
        button.btn.btn-sm(ng-click='deleteTransportationAndRating(transportationAndRating)')
          span.glyphicon.glyphicon-remove
    .row.form-group
      button.btn.btn-sm(ng-click='addTransportationAndRating()', ng-show='canAddTransportationMethod()')
        span.glyphicon.glyphicon-plus

    .row.form-group
      button.btn.btn-primary.btn-lg(type='submit', ng-click='createJourney()') Create Journey

div(ng-include='"components/footer/footer.html"')