div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 ToTravel
    p.lead Where it's better to travel than to arrive...

.container
  .row
    .col-lg-12
      h1.page-header Journeys:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='journey in journeyList')
        li
          a(href='#', tooltip='{{journey.description}}')
            | {{journey.name}}

div(ng-include='"components/footer/footer.html"')