div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-md-3
      img(src='assets/images/angular-js.png').img-responsive
    .col-md-9
      h3
        a(href='http://www.angularjs.org') AngularJS
      p Makes it really easy to make single-page applications. 
  .row
    .col-md-3
      img(src='assets/images/bootstrap.png').img-responsive
    .col-md-9
      h3 
        a(href='http://www.getboostrap.com') Bootstrap
      p Mainly used here for the CSS. Gets a decent-looking page up quickly. Also, the 
        a(href='https://angular-ui.github.io/bootstrap/') angular-ui
        |  bootstrap elements are really handy.
  .row
    .col-md-3
      img(src='assets/images/glyphicons.svg').img-responsive
    .col-md-9
      h3 
        a(href='http://www.glyphicons.com') Glyphicons
      p A great set of small icons
      a(href='http://creativecommons.org/licenses/by/3.0/') CC-BY 3.0
  .row
    .col-md-3
      img(src='assets/images/fontawesome.png').img-responsive
    .col-md-9
      h3 
        a(href='http://fontawesome.io') Font Awesome
      p More awesome small icons
  .row
    .col-md-3
      img(src='assets/images/jade.svg').img-responsive
    .col-md-9
      h3 
        a(href='http://wwww.jade-lang.com') Jade
      p Much nicer than writing full html, particularly if you can cope with indentation being important (hi python).
  .row
    .col-md-3
      img(src='assets/images/sass.png').img-responsive
    .col-md-9
      h3 
        a(href='http://www.sass-lang.com') SASS
      p CSS on steroids. Or just normal CSS. Adding variables makes sense.
  .row
    .col-md-3
      img(src='assets/images/yeoman.png').img-responsive.bg-primary
    .col-md-9
      h3 
        a(href='https://github.com/DaftMonk/generator-angular-fullstack') angular-fullstack 
        |  and 
        a(href='http://www.yeoman.io')  Yeoman
      p angular-fullstack


div(ng-include='"components/footer/footer.html"')